.titleRed{
  background-color: white;
  color: red;
  font-size: large;
  text-align: center;
}
.flex{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.images{
  width: 1600px;
  height: 800px
}
